* {
    font-family: 'Raleway', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 35px;
}


main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: #ffffff;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*********** Header ***********/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
}

.header-navigation {
    display: flex;
    align-items: flex-start;
    gap: 68px;
}

.header-logo {
    line-height: 0;
    padding: 30px 50px;
    max-height: 19px;
    box-sizing: content-box;
}

.header-link {
    cursor: pointer;
    border: 2px #ffffff00 solid;
    font-size: 16px;
    transition: border .2s, color .2s;
    padding-top: 15px;
}

.-link-line:hover {
    border-top: 2px var(--main-color) solid;
    color: var(--main-color);
}


/*********** Infos and Filters ***********/

.infos-and-filters {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/*********** Infos ***********/

.info-title {
    margin: 0 0 8px 0;
    padding: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.info-description {
    font-size: 16px;
    font-weight: 400;
}

/*********** Search Bar ***********/

.search-bar-icon {
    height: 100%;
    width: 50px;
    background-color: var(--main-bg-color);
    color: #000000 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}

.search-bar-input {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 49px;
    border-radius: 15px;
}

.search-bar-input input[type="text"]:focus-visible {
    outline: none;
}

.search-bar-input input[type="text"] {
    border: none;
    border-top: 1px var(--main-bg-color) solid;
    border-bottom: 1px var(--main-bg-color) solid;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.search-bar-input button {
    border: none;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: var(--main-color);
    padding: 14px 16px;
    cursor: pointer;
}

.mobile-block {
    display: none;
}

.desktop-block {
    display: block;
}


/*********** Boutons Filtre  ***********/

.filter-bar {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter-button-list {
    display: flex;
    gap: 10px;
}

.text-bold {
    font-weight: 700;
    font-size: 18px;
}

.rounded-button {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 19px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    border: 2px var(--main-bg-color) solid;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color .2s;
}

.rounded-button i {
    width: 22px;
}

.rounded-button:hover {
    background-color: var(--filter-bg-color);
}

/*********** texte Info  ***********/

.info-bar {
    display: flex;
    gap: 10px;
    align-items: center
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    min-width: 24px;
    font-size: 10px;
    line-height: 12px;
    border: 1px var(--main-bg-color) solid;
    border-radius: 25px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.section-sub-title {
    font-size: 18px;
    font-weight: 700;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    .card {
        display: flex;
        flex-direction: column;
        padding: 0 0 10px 0;
        gap: 5px;
    }

    img {
        width: 100%;
        height: 124px;
        border-radius: 20px 20px 0 0;
        border: #ffffff 5px solid;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 0 15px;
    }

    .card-subtitle {
        font-size: 14px;
        font-weight: 400;
    }
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activitees-a-marseille {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2 {
        font-size: 22px;
        font-weight: 700;
    }

    .activitees-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;

        .card {
            padding: 0;
        }

        img {
            height: 380px;
            width: 100%;
            border-radius: 20px 20px 0 0;
        }

        h3 {
            font-size: 16px;
            font-weight: 700;
            padding: 20px 19px;
        }
    }
}

.footer-container {
    width: 100%;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-header {
    font-size: 18px;
    font-weight: 700;
}

.footer-link {
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
}