/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    /*********** Header ***********/
    header {
        flex-direction: column;
        align-items: center;
        height: 115px;
    }

    .header-logo {
        padding: 30px;
    }

    .header-link {
        height: auto;
        padding: 0 0 15px 0;
        text-align: center;
    }

    .-link-line {
        border: 0;
        border-bottom: 2px var(--main-bg-color) solid;
    }

    .-link-line:hover {
        border: 0;
        border-bottom: 2px var(--main-color) solid;
    }

    .header-navigation {
        gap: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .header-navigation a {
        flex-grow: 1;
    }


    /*********** Infos and Filters ***********/
    .infos-and-filters {
        padding: 0 20px;
    }

    .mobile-block {
        display: block;
    }

    .desktop-block {
        display: none;
    }

    button.search-bar-submit-icon {
        border-radius: 15px;
        box-shadow: 0 4px 4px #00000022;
    }

    button.search-bar-submit-icon {
        position: relative;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    button.search-bar-submit-icon i {
        color: #fff !important;
    }

    button.search-bar-submit-icon::after {
        content: '';
        width: 25px;
        height: 49px;
        left: 0;
        border: none;
        border-top: 1px var(--main-bg-color) solid;
        border-bottom: 1px var(--main-bg-color) solid;
        position: absolute;
        z-index: -1;
    }

    .filter-button-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .rounded-button {
        font-size: 14px;
    }

    .rounded-button i {
        font-size: 22px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 0;

        section {
            border-radius: 0;
            padding: 20px;
        }

        .populaires-cards {
            flex-direction: column;

            a {
                width: 100%;
            }

            .card {
                margin-top: 15px;
            }
        }

        .hebergements {
            background-color: #ffffff;
            gap: 15px;
        }

        .hebergements-cards {
            grid-template-columns: 1fr;
            gap: 15px;
        }
    }

    .activitees-a-marseille .activitees-cards {
        gap: 15px;
        grid-template-columns: 1fr;

        img {
            height: 141px;
        }
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 30px;
    }
}